/shelf/

#java
/target/
/backend/src/main/resources/log.log
/backend/src/main/resources/database/successfulApiResponses.txt
*.class

#webapp
/webapp/webpage/node_modules/
/webapp/WEB-INF/classes/

#other
/todo.txt
/ideas.txtdebug.log
webapp/webpage/node_modules/abab/CHANGELOG.md
