/shelf/

#java
/target/
/.idea/
/src/main/resources/log.log
/src/main/resources/database/successfulApiResponses.txt
*.class

#webapp
/src/webapp/webpage/node_modules/
/src/webapp/WEB-INF/classes/

#other
/todo.txt
/ideas.txtdebug.log
src/webapp/webpage/node_modules/abab/CHANGELOG.md
