/shelf/
/workspace.xml
/backend/src/main/webapp/WEB-INF/classes/
/target/
*.class
/todo.txt
/backend/src/main/resources/log.log
/backend/src/main/resources/database/successfulApiResponses.txt
/webapp/webpage/node_modules/.bin/
/webapp/webpage/node_modules/.cache/