.containerNavbar {
    width: 100%;
}

.navvbar {
    position: absolute;
    color: transparent !important;
}

.navbar .navbar-brand a:link {
    color: white;
}

#navIMG {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 3.5rem;
}

.navbar a:link {
    color: inherit;
    text-decoration: none;
}

.navbar a:visited {
    color: inherit;
    text-decoration: none;
}

.navbar a:active {
    color: inherit;
    text-decoration: none;
}

.firstRow {
    padding-top:4rem
}

.export h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.import h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.overview-bar {
    height: 14rem;
}

.specific-pie {
    height: 24rem;
}