.col-md {
    min-width: 350px;
}

.firstRow {
    padding-top:4rem
}

.export h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.import h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.overview-bar {
    height: auto;
    margin-bottom: 1rem;
}

.specific-pie {
    height: auto;
    margin-bottom: 2rem;
}

.worldMap .no-tooltips {
    pointer-events: none;
}